.btn-orange{
background-color: #f7a440;
padding: 15px 20px;
border-radius: 5px;
color: white;
font-weight: bold; 
font-size: 15px;
margin: 10px;
text-align: center;
display: block;
margin : auto;

}

