.container{
	width : 900px;
	margin: 0px auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}


